<h1 class="invisible"><%= title "ホーム" %></h1>
<div class="flex justify-center items-center">
  <%= image_tag "title.svg", alt: "タイトル", class: "inline-block h-15 object-contain" %>
  <%= image_tag "logo.svg", alt: "ロゴ", class: "hidden sm:inline-block sm:h-20 sm:object-contain" %>
</div>
<%= render "layouts/outline" %>

<aside id="terms_and_privacy" class="mt-8">
  <%= render "layouts/terms_and_privacy" %>
</aside>
