<h1 class="invisible"><%= title "ホーム" %></h1>
<div class="flex justify-center items-center">
  <%= image_tag "title.svg", alt: "タイトル", class: "inline-block h-15 object-contain" %>
  <%= image_tag "logo.svg", alt: "ロゴ", class: "hidden sm:inline-block sm:h-20 sm:object-contain" %>
</div>
<%= render "layouts/outline" %>

<%# <%= turbo_frame_tag "chart_and_list" do %>
  <section class="text-center mb-6 sm:mb-10">
    <h2>
      「起潮力(垂直方向)」と「木星との距離」
      <%= link_to image_tag("link-help.svg", alt: "補足説明へのリンク"), about_index_path, data: { turbo: false }, class: "inline-flex align-[-3px] link-primary" %>
    </h2>
    <div id="chart_vertical" class="h-96 w-full">
      <%= render "chart_vertical" %>
    </div>
  </section>

  <section class="text-center mb-6">
    <h2>
      起潮力(水平方向) の「強さ」と「方位角（Azimuth）」
      <%= link_to image_tag("link-help.svg", alt: "補足説明へのリンク"), about_index_path, data: { turbo: false }, class: "inline-flex align-[-3px] link-primary" %>
    </h2>
    <div id="chart_horizontal" class="h-96 w-full">
      <%= render "chart_horizontal" %>
    </div>
  </section>

  <%# <%= tag.div data: { controller: "calc-results-page #{ user_signed_in? ? "records-page" : "" }" }, class: "max-w-270 mx-auto text-center" do %>
    <div class="inline-flex max-w-full overflow-x-auto">
      <section class="flex-1 overflow-x-auto">
        <h2 class="sticky left-0 text-nowrap">【計算結果】</h2>
        <div>
          <%= render "calc_results" %>
        </div>
      </section>

    </div>

<aside id="terms_and_privacy" class="mt-8">
  <%= render "layouts/terms_and_privacy" %>
</aside>
