<h1 class="invisible"><%= title "ホーム" %></h1>
<div class="flex justify-center items-center">
  <%= image_tag "title_logo.svg", alt: "タイトル", class: "inline-block h-15 object-contain" %>
</div>
<%= render "layouts/outline" %>

<section class="mb-8">
  <h2 class="invisible">計算の条件</h2>
  <div class="max-w-80 mx-auto">
    <%= form_with url: "#{ user_signed_in? ? memo_index_home_path(current_user.id) : home_index_path }", method: :get, data: { controller: "timezone session-storage" } do |f| %>
      <div class="grid grid-cols-1 gap-0.5">
        <%= f.label :location, "地点" %>
        <%= f.select :location,
              [ [ "稚内", "WAKKANAI" ], [ "根室", "NEMURO" ], [ "小樽", "OTARU" ], [ "秋田", "AKITA" ], [ "相馬", "SOMA" ], [ "東京", "TOKYO" ], [ "富山", "TOYAMA" ], [ "名古屋", "NAGOYA" ], [ "明石", "AKASHI" ], [ "境港", "SAKAIMINATO" ], [ "土佐清水", "TOSASHIMIZU" ], [ "博多", "HAKATA" ], [ "種子島", "TANEGASHIMA" ], [ "那覇", "NAHA" ], [ "与那国島", "YONAGUNIJIMA" ], [ "父島", "CHICHIJIMA" ], [ "南鳥島", "MINAMITORISHIMA" ] ],
              { selected: @initial_calc_values[:location] }, data: { session_storage_target: "locationSelect" }, class: "mb-2 py-1.5 border rounded-sm" %>
        <p>期間</p>
        <div class="flex justify-between items-center mb-4">
          <%= f.date_field :first_date, data: { session_storage_target: "firstDateField" }, min: "2020-01-01", max: "2029-12-31", value: @initial_calc_values[:first_date], class: "grow-1 max-w-36 py-1.5 border rounded-sm" %>
          <span class="mx-4">〜</span>
          <%= f.date_field :last_date, data: { session_storage_target: "lastDateField" }, min: "2020-01-01", max: "2029-12-31", value: @initial_calc_values[:last_date], class: "grow-1 max-w-36 py-1.5 border rounded-sm" %>
        </div>
        <%= f.hidden_field :timezone, data: { timezone_target: "timezoneField" } %>
        <div class="text-center">
          <%= f.submit "グラフ・表#{ user_signed_in? ? "・メモ" : "" }を更新", { id: "display_button", data: { action: "click->timezone#setValue click->session-storage#setItem" },
                class: "px-4 h-10 transition-colors bg-indigo-600 font-medium text-white shadow-xs rounded-sm hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" } %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="text-center mb-6 sm:mb-10" aria-label="起潮力(垂直方向)と木星との距離のグラフ">
  <h2 class="text-lg font-semibold text-blue-900">
    ｢起潮力(垂直方向)｣と｢木星との距離｣
    <%= link_to about_index_path, data: { turbo: false }, class: "inline-flex align-[-3px] link-primary" do %>
      <%= tag.span "help", class: "material-symbols-outlined", style: "font-size:1.25rem;" %>
    <% end %>
  </h2>
  <div id="chart_vertical" class="h-96 w-full">
    <%= render "chart_vertical" %>
  </div>
</section>

<section class="text-center mb-6" aria-label="起潮力(水平方向)の強さと方位角のグラフ">
  <details>
    <summary class="mx-auto max-w-162 cursor-pointer">
      <h2 class="inline text-lg font-semibold text-blue-900">
        起潮力(水平方向) の｢強さ｣と｢方位角｣
        <%= link_to about_index_path, data: { turbo: false }, class: "inline-flex align-[-3px] link-primary" do %>
          <%= tag.span "help", class: "material-symbols-outlined", style: "font-size:1.25rem;" %>
        <% end %>
      </h2>
    </summary>
    <div>
      方位角（Azimuth）は、北が0度（360度）、東が90度、南が180度、西が270度です。
    </div>
    <div id="chart_horizontal" class="h-96 w-full">
      <%= render "chart_horizontal" %>
    </div>
  </details>
</section>

<div class="text-center">
  <div class="inline-flex gap-8">
    <section>
      <h2 class="text-nowrap text-lg font-semibold text-blue-900">結果一覧</h2>
      <div>
      </div>
    </section>
    <% if user_signed_in? %>
      <section>
        <h2 class="text-nowrap text-lg font-semibold text-blue-900">メモ</h2>
      </section>
    <% end %>
  </div>
</div>
