<%= form_with(model: record, class: "contents") do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul class="list-disc ml-6">
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :recorded_at %>
    <%= form.datetime_field :recorded_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": record.errors[:recorded_at].none?, "border-red-400 focus:outline-red-600": record.errors[:recorded_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :column_0 %>
    <%= form.text_field :column_0, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": record.errors[:column_0].none?, "border-red-400 focus:outline-red-600": record.errors[:column_0].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :column_1 %>
    <%= form.text_field :column_1, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": record.errors[:column_1].none?, "border-red-400 focus:outline-red-600": record.errors[:column_1].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :column_2 %>
    <%= form.text_field :column_2, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": record.errors[:column_2].none?, "border-red-400 focus:outline-red-600": record.errors[:column_2].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :column_3 %>
    <%= form.text_field :column_3, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": record.errors[:column_3].none?, "border-red-400 focus:outline-red-600": record.errors[:column_3].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :column_4 %>
    <%= form.text_field :column_4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": record.errors[:column_4].none?, "border-red-400 focus:outline-red-600": record.errors[:column_4].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :column_5 %>
    <%= form.text_field :column_5, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": record.errors[:column_5].none?, "border-red-400 focus:outline-red-600": record.errors[:column_5].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :memo %>
    <%= form.text_field :memo, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": record.errors[:memo].none?, "border-red-400 focus:outline-red-600": record.errors[:memo].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
