<%= turbo_frame_tag "record_#{extract_date_hour(record)}" do %>
  <div class="flex">
    <div class="flex w-time h-10 flex-none justify-center items-center border-t-record">
      <span>
        <%= record.recorded_at.in_time_zone(session[:timezone]).strftime("%H:%M") %>
      </span>
    </div>
    <div class="grid grid-cols-6 grid-rows-1 w-records flex-none gap-0.5 content-start items-center border-t-record">
      <div>
        <%= record.column_0 %>
      </div>
      <div>
        <%= record.column_1 %>
      </div>
      <div>
        <%= record.column_2 %>
      </div>
      <div>
        <%= record.column_3 %>
      </div>
      <div>
        <%= record.column_4 %>
      </div>
      <div>
        <%= record.column_5 %>
      </div>
    </div>
    <div class="w-memo h-10 flex-none pl-0.5 text-left text-wrap overflow-y-auto border-t-record">
      <%= display_line_breaks record.memo %>
    </div>
    <% if record.id.nil? %>
      <div class="flex flex-none w-record-links pl-0.5 sticky top-0 right-0 justify-start items-center border-t-record">
        <%= link_to "新規作成", new_record_path(recorded_at: record.recorded_at), data: { turbo_frame: "record_#{extract_date_hour(record)}" }, class: "link-primary" %>
      </div>
    <% else %>
      <div class="flex flex-none w-record-links pl-0.5 justify-between items-center border-t-record">
        <%= link_to "編集", edit_record_path(record), data: { turbo_frame: "record_#{extract_date_hour(record)}" }, class: "link-primary" %>
        <%= link_to "削除", confirm_destroy_record_path(record), data: { turbo_frame: "record_#{extract_date_hour(record)}" }, class: "link-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
