<div id="<%= dom_id record %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Recorded at:</strong>
    <%= record.recorded_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Column 0:</strong>
    <%= record.column_0 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Column 1:</strong>
    <%= record.column_1 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Column 2:</strong>
    <%= record.column_2 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Column 3:</strong>
    <%= record.column_3 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Column 4:</strong>
    <%= record.column_4 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Column 5:</strong>
    <%= record.column_5 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Memo:</strong>
    <%= record.memo %>
  </div>
</div>
