<% set_meta_tags description: "用語、背景などのザックリとした説明です。" %>
<div class="flex flex-col gap-4 mx-auto max-w-2xl my-6">
  <div class="text-center">
    <h1 class="mb-4 font-bold"><%= title "補足説明" %></h1>
    <p>用語、背景などのザックリとした説明です。</p>
  </div>
  <section id="tidal_force" class="">
    <h2 class="">起潮力（潮汐力）について</h2>
    <div>
      <details name="about">
        <summary class="cursor-pointer">起潮力とは</summary>
        <ul class="ml-7 list-disc list-outside">
          <li>
            起潮力とは、周りの星の重力によって発生する力です。<br>
            地球では、「月」「太陽」による起潮力が、潮の満ち引きを起こします。<br>
          </li>
          <li>
            起潮力の原理や、実際の潮汐との比較など、以下のサイトで詳しく解説されています。<br>
            <%= link_to "https://fujiwaratko.sakura.ne.jp/tidal/tidal_force.html", target: "_blank", class: "link-primary" do %>
              潮汐力を遠心力で説明してはいけない - T.Fujiwara<%= image_tag "link-open_in_new.svg", alt: "新しいタブで開く", class: "inline" %>
            <% end %>
          </li>
          <li>
            本アプリで行っている計算も、上記のサイトを参考にしました。<br>
            地球、月、太陽の位置算出には、後述（「木星との距離について」に記載）の書籍を参考にしました。
          </li>
          <li>
            表示地点の経緯度は、以下のサイトの値を参考にしています。<br>
            <%= link_to "https://www.data.jma.go.jp/kaiyou/db/tide/suisan/index.php", target: "_blank", class: "link-primary" do %>
              気象庁 | 潮汐・海面水位のデータ 潮位表<%= image_tag "link-open_in_new.svg", alt: "新しいタブで開く", class: "inline" %>
            <% end %>
          </li>
        </ul>
      </details>
    </div>
    <div>
      <details name="about">
        <summary class="cursor-pointer">計算結果の見方</summary>
        <ul class="ml-7 list-disc list-outside">
          <li>
            起潮力の計算結果は、単位質量あたりの力（単位：µN/kg）で表します。<br>
          </li>
          <li>
            「地球の重力」と比べると、約７桁小さいです。<br>
            例えば、1Lパックの牛乳（約1kg）に働く力は、以下になります。<br>
            地球の重力：約10N<br>
            起潮力（垂直方向）：約1µN
          </li>
          <li>
            起潮力（水平方向）の方位角（Azimuth）は、北を0度（360度）、東を90度、南を180度、西を270度として表しています。
          </li>
        </ul>
      </details>
    </div>
    <div>
      <details name="about">
        <summary class="cursor-pointer">起潮力の生き物への影響？</summary>
        <p class="ml-3">
          因果関係は不明ですが、起潮力が生き物にも影響を与えている可能性があります。<br>
          大潮の頃に産卵したり、潮の満ち引きのタイミングに合わせると成長が促進されたりするそうです。
        </p>
        <ul class="ml-7 list-disc list-outside">
          <li>
            大潮に産卵を促す遺伝子があるそうです。<br>
            <%= link_to "https://www.itbm.nagoya-u.ac.jp/ja/research/2022/10/post-48.php", target: "_blank", class: "link-primary" do %>
              クサフグが大潮に一斉集団産卵する仕組みを解明〜月の満ち欠けによってもたらされる生物リズムの謎に迫る〜 | WPIトランスフォーマティブ生命分子研究所（ITbM）<%= image_tag "link-open_in_new.svg", alt: "新しいタブで開く", class: "inline" %>
            <% end %>
          </li>
          <li>
            水族館の水槽の中でも、大潮の頃に産卵するそうです。（さすがに満ち引きはしないと思いますが…）<br>
            <%= link_to "https://churaumi.okinawa/sp/blog/1655880842/", target: "_blank", class: "link-primary" do %>
              【年に1度の神秘的な夜の産卵・・・！】 | 美ら海だより | 沖縄美ら海水族館 - 沖縄の美ら海を、次の世代へ。<%= image_tag "link-open_in_new.svg", alt: "新しいタブで開く", class: "inline" %>
            <% end %>
          </li>
          <li>
            陸上でも、植物や動物の中には、起潮力の影響を受けるものがあるという報告があります。<br>
            <%= link_to "https://perspectives.braincenter.co.jp/perspectives/blog-category/person/toyota-boshoku.html", target: "_blank", class: "link-primary" do %>
              月の引力を活用する「起潮力」で食料資源の増産に挑む - perspectives<%= image_tag "link-open_in_new.svg", alt: "新しいタブで開く", class: "inline" %>
            <% end %>
          </li>
        </ul>
      </details>
    </div>
    <div>
      <details name="about">
        <summary class="cursor-pointer">その他の特徴</summary>
        <ul class="ml-7 list-disc list-outside">
          <li>
            「起潮力」と「実際の潮汐（実績・予測データ）」間の違いについて<br>
            「実際の潮汐」は、地形、海流、地球の自転などの影響を受けているため、「起潮力」との間に以下の違いがあります。
          </li>
          <ul class="ml-7 list-decimal list-outside">
            <li>
              ピークの時間のズレ：<br>
              場所によってズレは異なり、例えば、西日本の太平洋沿岸では6時間程度のズレがあるそうです。<br>
              <%= link_to "https://fujiwaratko.sakura.ne.jp/tidal/tidal_force.html#phase", target: "_blank", class: "link-primary" do %>
                潮汐力を遠心力で説明してはいけない - T.Fujiwara<%= image_tag "link-open_in_new.svg", alt: "新しいタブで開く", class: "inline" %>
              <% end %>
            </li>
            <li>
              波形の違い：<br>
              潮汐のデータは、60個の波（周期関数）を重ね合わせて表現されます。それらの波には、月・太陽「以外のもの」に由来する波が多数含まれています。<br>
              <%= link_to "https://www1.kaiho.mlit.go.jp/TIDE/harmonic/constants/hc.php?s=0033", target: "_blank", class: "link-primary" do %>
                潮汐調和定数（竜飛）<%= image_tag "link-open_in_new.svg", alt: "新しいタブで開く", class: "inline" %>
              <% end %>
            </li>
          </ul>
          <li>
            起潮力は、地面も少し変形させているそうです。<br>
            <%= link_to "https://fujiwaratko.sakura.ne.jp/tidal/tidal_force.html#tidallock", target: "_blank", class: "link-primary" do %>
              潮汐力を遠心力で説明してはいけない - T.Fujiwara<%= image_tag "link-open_in_new.svg", alt: "新しいタブで開く", class: "inline" %>
            <% end %>
          </li>
          <li>
            気圧にも少し影響しているようで、熱帯の降水量が微小変動するそうです。<br>
            <%= link_to "https://x.com/kohyama_met/status/1780025355589620198", target: "_blank", class: "link-primary" do %>
              大気太陰潮汐の簡単なレビューと，Wallace先生との論文について。 - 神山 翼@お茶大・気象学さん: / X<%= image_tag "link-open_in_new.svg", alt: "新しいタブで開く", class: "inline" %>
            <% end %>
          </li>
          <li>
            ↑リンク内のリンクから、気圧の変化としては、「月の起潮力による大気潮汐」より「熱による大気潮汐」の方が１桁大きいそうです。<br>
            （余談ですが、「熱による大気潮汐」よりも小さい「微気圧変動」を感じる人が居るそうです。「起潮力による大気潮汐」を感じる人・生き物も居たりするのでしょうか？？<br>
            <%= link_to "https://gendai.media/articles/-/92948?page=2", target: "_blank", class: "link-primary" do %>
              “知られざる国民病”の「天気痛」を引き起こす“意外”な天気の「条件」（サイエンスZERO） - 2ページ目 | 現代ビジネス | 講談社<%= image_tag "link-open_in_new.svg", alt: "新しいタブで開く", class: "inline" %>
            <% end %>
            ）
          </li>
          <li>
            場所による起潮力の違いを、経度・緯度の差として見ると以下のようになります。<br>
            経度の差：時間の差と見ることができます。地球の自転により月・太陽との位置関係が同じになるためです。<br>
            緯度の差：日本では、ほぼ低緯度ほど垂直成分のピークが高くなります。月・太陽の真下に近いほど、垂直成分のピークが高くなるためです。
          </li>
        </ul>
      </details>
    </div>
  </section>

  <section id="jupiter" class="">
    <h2>木星との距離について</h2>
    <div>
      <details name="about">
        <summary class="cursor-pointer">天体の位置計算</summary>
        <ul class="ml-7 list-disc list-outside">
          <li>
            以下の書籍を参考としました（起潮力の計算でも参考としています）。<br>
            井上圭典, 鈴木邦裕. 天体位置略算式の解説. 海文堂, 1991.<br>
            暦計算研究会 編. 新こよみ便利帳 : 天文現象・暦計算のすべて. 恒星社厚生閣, 1991.<br>
          </li>
          <li>
            距離の単位は、天文単位（au）です。1auは、地球と太陽の平均距離で、約1億5千万kmです。
          </li>
        </ul>
      </details>
    </div>
    <div>
      <details name="about">
        <summary class="cursor-pointer">木星の生き物への影響？</summary>
        <ul class="ml-7 list-disc list-outside">
          <li>
            以前、「釣果」と「木星の周期」に相関があると感じた方が、釣果予測のサイトを作られていました。（現在、そのサイトは見つかりません）<br>
            木星のどういう周期かは分からず、本アプリでは、ひとまず地球との距離を算出しています。
          </li>
          <li>
            ちなみに、木星による起潮力はとても小さく、無視できます。<br>
          </li>
        </ul>
      </details>
    </div>
    <div>
      <details name="about">
        <summary class="cursor-pointer">その他の特徴</summary>
        <ul class="ml-7 list-disc list-outside">
          <li>
            木星の公転周期は、11.86年です。<br>
            木星が太陽の周りを１周する間に、地球が約１２周することになります。<br>
            このことから、木星と地球は、時計の「時針」と「分針」のような位置関係になります。<br>
            例えば、1月に一番近付いたら、7月に太陽を挟んで一番離れ、翌年の2月にまた近付きます。
          </li>
          <li>
            木星、地球ともに、軌道が少し楕円形になっているので、接近時の距離は毎回少し変わります。<br>
          </li>
        </ul>
      </details>
    </div>
  </section>

  <div class="text-center">
    <%= link_to "ホーム画面に戻る", each_home_index_path, class: "link-primary" %>
  </div>
</div>
